.about_me_section {
    font-family: 'Raleway', sans-serif;
    margin-right: auto;
    margin-left: auto;
    padding: 5em;
    line-height: 200%;
    font-size: calc(10px + 2vmin);
    font-weight: lighter;
    text-align: center;
}

.hand_animation {
    animation: wave 3s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave {
    0% {
        transform: rotate(0.0deg)
    }
    10%, 30%, 50% {
        transform: rotate(-10.0deg)
    }
    20%, 40%, 60% {
        transform: rotate(10.0deg)
    }
}
