.menu_content {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    padding-bottom: 6rem;
}

.menu_content ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}


.menu_item_inactive {
    font-weight: lighter;
    padding: 0 3rem;
    opacity: 0.5;
}

.menu_item_active {
    font-weight: bold;
    padding: 0 3rem;
}

.menu_item_text {
    cursor: pointer;
}
